[2021-09-15 09:01] SriSatyaT opened #1 "Footer of the website"
![BLOOD BUDDY - Google Chrome 15-09-2021 14_29_31_LI](https://user-images.githubusercontent.com/78905067/133403981-d9284db2-0477-49e0-a169-7cc9213b62fe.jpg)
will try to arrange the content and social media links properly

[2021-09-15 09:28] 2024-SANDHYA commented on #1
Go ahead !!

[2021-09-15 09:31] 2024-SANDHYA opened #2 "Make website responsive"
Make the website fully responsive.

[2021-09-15 09:32] 2024-SANDHYA opened #3 "Design logo for the website"

[2021-09-15 18:30] irsayvid commented on #2
I would like to work on this and fix the text-overflow issue in mobile view

[2021-09-16 02:49] 2024-SANDHYA commented on #2
Assigned !!

[2021-09-16 06:07] Yashesvinee commented on #3
![ed9d1d19f0c842109becb67d6f6586b2](https://user-images.githubusercontent.com/76458668/133558355-ab2600cc-53f2-4a4e-b3bd-712a95f1d3ce.png)
Hi Here's a quick idea for the logo. Is it okay?

[2021-09-16 06:08] 2024-SANDHYA commented on #3
Looks good to me !!

[2021-09-16 06:09] 2024-SANDHYA opened #4 "Redesign the volunteer section"

[2021-09-16 06:11] 2024-SANDHYA opened #5 "Working on Gethelp page"

[2021-09-16 07:00] 2024-SANDHYA opened #7 "About Us Section"
Enhance the about us section which is currently like this :

![image](https://user-images.githubusercontent.com/75671152/133565211-0794b97c-4425-47bc-a97e-acd2cbdf7132.png)

[2021-09-16 07:01] 2024-SANDHYA opened #8 "Adding footer to Donate Page"

[2021-09-16 07:24] 4aman16 opened #9 "Resetting the margin to zero to fit page the use"
index.css changes required to fit the margin.

I can fix the issue .
please assign it to me.

[2021-09-16 19:40] rohan-singh987 opened #11 "Issue in Header"
Hey! I think you need to change some CSS in Your header as you nav-bar is too low. it should be at the top of website

[2021-09-16 19:41] rohan-singh987 commented on #11
assign it to me, I will love to resolve this issue

[2021-09-17 04:28] PuneetDabral commented on #8
which kind of footer you need?

[2021-09-17 05:10] Anushh23 commented on #2
Hey! I would like to work on this issue and make the site completely responsive.

[2021-09-17 10:45] 2024-SANDHYA commented on #3
Hey, check the site now, the logo is way too large you can fix the size too though !

[2021-09-17 16:20] irsayvid commented on #2
Hey @Anushh23 ! Go ahead with it. Initially, I thought of working on this issue but currently I'm equipped with other things.

[2021-09-17 17:01] Anushh23 commented on #2
Thanks a lot!

[2021-09-19 07:13] pragyaSingh13 commented on #11
I have fixed the header issue and made some minor customizations accordingl
<img width="700" alt="ssgit" src="https://user-images.githubusercontent.com/85486989/133918865-de0023fb-9792-48b9-a40c-2d18959dd52a.png">
y.

[2021-09-19 08:08] 2024-SANDHYA commented on #11
Doesn't look good to me , you can customize the navbar in the original way it was & you've also changed the order of links too. About us should come first then volunteer and so on.

[2021-09-19 08:40] rockingrohit9639 commented on #4
Hii @2024-SANDHYA Do you have something in your mind like how the section should look like?

[2021-09-19 08:50] 2024-SANDHYA commented on #4
You can show your own creativity but follow the color scheme of the website.

[2021-09-20 03:56] rockingrohit9639 commented on #4
Okay great.

[2021-09-21 22:27] pragyaSingh13 commented on #11
Alright, no issues I'll fix it

[2021-09-29 11:48] roshaan005 commented on #7
would love to work on this one.

[2021-09-30 07:45] roshaan005 commented on #7
could you pls add the hacktober fest tag to this since I am a contributor?

[2021-10-03 05:41] roshaan005 commented on #5
can I work on this?

[2021-12-01 06:20] davyj123 commented on #1
@SriSatyaT could you please assign this task to me.

[2021-12-01 06:24] davyj123 commented on #4
@2024-SANDHYA I can redesign this section according to color scheme of website with proper grids. Could you please assign this task to me.

[2021-12-01 06:40] SriSatyaT commented on #1
You can work on it if you want to. But the maintainer of this repo need to assign to you.

[2021-12-01 12:09] Mukta-Sawant commented on #8
@2024-SANDHYA Can I work on this as a part of SWOC 21?

[2021-12-01 12:29] Starkl7 commented on #1
I wanted to work on this as part of SWOC'21.
How do you want this to be rearranged?

[2021-12-01 12:42] SO1ee commented on #7
Hello There ! I would like to work on this project . If it is still available  could you please assign me this task. Thank you.

[2021-12-01 12:57] Yaswanthi01 commented on #7
Hello there !! Would you like modifications in the content or the styling?

[2021-12-01 13:46] A-man-404 commented on #8
I would love to add a footer to your donate page
Please describe some information about the type of footer you need and also what are the various elements you need in it.
I've worked with HTML, CSS and JS in the past and if you'll assign it to me, I'd be happy to work on it.

[2021-12-01 17:33] copyNinja1219 commented on #11
can you describe the issue please ?

[2021-12-01 20:10] prachigarg19 commented on #5
Could you please describe it properly? I am familiar with HTML,CSS and js. I'd be happy to help.

[2021-12-01 20:13] prachigarg19 commented on #1
I'd like to work on this. I can make this a responsive footer. I'd be happy to help, please assign it to me.

[2021-12-02 07:25] 2024-SANDHYA opened #17 "Add footer in all connected web-pages."

[2021-12-02 07:26] #8 closed

[2021-12-02 07:27] #3 closed

[2021-12-02 07:28] 2024-SANDHYA opened #18 "Redesign a good logo for the website"
Create a logo inspired by the theme of the project and swap it with the existing one.

[2021-12-02 07:32] Palak-2109 commented on #3
![image](https://user-images.githubusercontent.com/76587145/144377368-c269cc19-e06e-4627-ba52-099f7a6270a5.png)
how's this..

[2021-12-02 07:36] Palak-2109 commented on #18
![image](https://user-images.githubusercontent.com/76587145/144377952-efccf852-80f1-402d-919b-94d72ec0c042.png)
how's this?

[2021-12-02 07:37] #11 closed

[2021-12-02 07:38] 2024-SANDHYA opened #19 "Header Fixes"
The navbar is way too high, you can correct that with the margin & padding property of CSS.

[2021-12-02 07:48] copyNinja1219 commented on #19
I am working on it.

[2021-12-02 07:56] 2024-SANDHYA commented on #19
Great !! Assigned @copyNinja1219

[2021-12-02 09:08] prabhashkumar11 commented on #19
Hey Sandhya, I ha

Hey! , I have fixed the header issue. Could you please check it?

[2021-12-02 10:14] aniket-1812 commented on #17
I would like to work on this... Can you explain how do you want me to style it?

[2021-12-02 10:21] 2024-SANDHYA commented on #17
Add the existing footer in all the web pages.

[2021-12-02 10:43] prabhashkumar11 commented on #4
Can I redesign this section according to color scheme of website with tables of each blood group placed side by side. If yes, could you assign this task to me?

[2021-12-02 10:55] artimanputra commented on #17
Hey there, I would like to work on this issue

[2021-12-02 11:00] 2024-SANDHYA commented on #17
Already assigned to @aniket-1812

[2021-12-02 11:01] 2024-SANDHYA commented on #4
@davyj123  Assigned go ahead.

[2021-12-02 12:00] copyNinja1219 commented on #19
pr no - #22

[2021-12-02 13:22] aniket-1812 commented on #17
Hii @2024-SANDHYA .... Already made my PR. Can you suggest any other changes you want me to make or It's all ok ?

[2021-12-02 13:41] #17 closed

[2021-12-02 13:48] Yash-RajSingh opened #24 "Adding a database and search feature."
Currently there us no database for storing the information of the volunteers nor there is a search feature for people in need. I would like to add a central database for storing all the required volunteer info (blood type, contact info etc) and implement a search feature so that the users can get faster result while looking for blood. I would like to use Firebase as the central database integrate

[2021-12-02 13:54] SushantPatial opened #25 "Making a new sticky navbar"
I'll make a new appealing navbar for the website.

[2021-12-02 13:59] 2024-SANDHYA commented on #24
@Yash-RajSingh  The volunteer section is static and I don't want to include any kind of database there as it's not real, however you can work with it's design or add some other feature you can think of.

[2021-12-02 14:00] 2024-SANDHYA commented on #25
Can you share any design you have in mind @SushantPatial

[2021-12-02 14:02] davyj123 commented on #4
I redesigned the volunteer section, will sending a pr very soon.
Mam is this issue is a part of swoc 21?

[2021-12-02 14:05] davyj123 commented on #9
could you please assign this issue to me.
and please can you tell me some more about this issue.

[2021-12-02 14:09] SushantPatial commented on #25
Something like this with a bigger font

![image](https://user-images.githubusercontent.com/84243683/144437932-ebc5d7b6-7626-4988-b307-c0ac9a8bb9aa.png)

[2021-12-02 14:18] Pushti-R commented on #25
i want to work

[2021-12-02 14:27] davyj123 commented on #19
I can make the full responsive header could you please assign this task to me.

[2021-12-02 14:28] 2024-SANDHYA commented on #25
Okay, go ahead! :)  @SushantPatial

[2021-12-02 14:30] 2024-SANDHYA commented on #9
This issues is resolved @davyj123

[2021-12-02 14:32] 2024-SANDHYA commented on #1
You can take inspiration from dribble or Behance and show your creativity.  :)

[2021-12-02 15:08] davyj123 commented on #1
could you please assign this task to me. I will design fully reponsive footer for this.

[2021-12-02 15:30] SO1ee opened #28 "About us section improvement"

[2021-12-02 15:43] radzhiv25 commented on #7
Also I would like to contribute in the same in the form of changes or content modification
****

[2021-12-02 16:13] SO1ee commented on #7
Hi ! everyone i am working on this about us section and if any modification is needed in future i will work on it .

[2021-12-02 16:19] Palak-2109 commented on #18
I wanna work on this issue.

[2021-12-02 16:50] suyogkokaje opened #29 "Addition of transition effect"
Currently cards in the 'About' section and names of volunteers in 'Volunteer' section are appearing on screen on scrolling without any transition effect. I would like to add fade-up transition to cards in  'About' section and alternate fade-right and fade-left transition to the name of volunteers in 'Volunteer' section.

[2021-12-02 16:51] suyogkokaje commented on #29
@2024-SANDHYA could you please assign this work to me?

[2021-12-02 16:54] 2024-SANDHYA commented on #18
Not good.

[2021-12-02 16:58] 2024-SANDHYA commented on #7
@Yaswanthi01  Are you willing to work on this issue? As I am assigning on FCFS basis.

[2021-12-02 16:58] 2024-SANDHYA commented on #28
@SO1ee  Already exist #7

[2021-12-02 16:58] #28 closed

[2021-12-02 17:11] Yaswanthi01 commented on #7
@2024-SANDHYA  yes please. would like to give it a try

[2021-12-02 18:54] pritmanvar opened #31 "Create "Post a Blood request" page"
Right now any thing is not linked with "Post a Blood request" button in the donate page.
I would like to create that page so user can post a blood request.
Can you please assign me this task?

[2021-12-03 05:05] leesha19 opened #32 "updating register page"
Register page has a password strength meter which is not working properly i would like to change and style it + there is no show password available for user and also there is no footer on register page @2024-SANDHYA

[2021-12-03 05:09] leesha19 commented on #32
@2024-SANDHYA could you please assign it to me i already started working on it

[2021-12-03 05:22] davyj123 commented on #4
I sent the pull request regarding #4.

[2021-12-03 05:27] davyj123 commented on #5
Could you please assign this task to me.

[2021-12-03 06:51] phenyloder opened #34 "Add Password Strength Feature"
On the Register Page, when a password is entered, the slider below is static and does not shows the password strength.

I would like to implement the password Strength Check feature using JavaScript and so the bar below will show red if the password is weak, yellow for an average one and green for the Strong Passwords.

Please assign this to me.

[2021-12-03 07:16] Ritika122001 opened #35 "Redesign Footer section"
The footer is not looking good as the fonts are too big. Will make changes to the footer according to the look of the website. I'd be happy to help, please assign it to me.

[2021-12-03 07:24] 2024-SANDHYA commented on #35
The issue already exists #1

[2021-12-03 07:24] #35 closed

[2021-12-03 07:24] 2024-SANDHYA commented on #34
Sure go ahead !! @phenyloder

[2021-12-03 07:26] 2024-SANDHYA commented on #5
@prachigarg19 You can take inspiration from Behance or dribble for the design. I am giving you the freedom to be creative and use the tech stack as per your knowledge. :)

[2021-12-03 07:28] 2024-SANDHYA commented on #31
Can you elaborate on how you are gonna do this? @pritmanvar

[2021-12-03 07:39] 2024-SANDHYA commented on #32
The issue already exists #34

[2021-12-03 07:44] pritmanvar commented on #31
I will create another page on which user will be redirected as he/she will click on **Post a Blood Request**.
In that page I will create a from so user can enter some details like name, blood group, address etc.
and there should be same button on home page too. so user can quickly navigate to the form.
@2024-SANDHYA,  this is what I will do. Please guide me if I am missing anything.

[2021-12-03 07:48] 2024-SANDHYA commented on #31
The idea is really nice, you may take help from the mentors for better implementation of this idea. @pritmanvar

[2021-12-03 09:32] aditi944 commented on #7
Please assign this to me.

[2021-12-03 09:42] aditi944 opened #37 "Donate Page"
I can work on this page and link it to blood donation banks. The register button on top is not linked to the registration form. I can link "save a life" to the organ donation website. If anything more needs to be done, Please feel free to suggest. Assign me this issue.

[2021-12-03 09:52] 2024-SANDHYA commented on #37
No, don't add any external links.

[2021-12-03 09:53] leesha19 commented on #34
i have already mentioned this issue how can you assign it to someone else @2024-SANDHYA

[2021-12-03 09:59] leesha19 commented on #34
i have earlier mentioned the same issue but i think you deleted that issue

[2021-12-03 09:59] aditi944 commented on #37
Okay. So is there anything that needs to be updated in this page?

[2021-12-03 10:02] leesha19 commented on #32
but i raised it 5 hours ago and issue #34 was raised 3 hours ago so why you closed my issue . It should be assigned to me and not him

[2021-12-03 10:11] 2024-SANDHYA commented on #37
You may take guidance from the mentors to discuss on this idea.

[2021-12-03 10:12] 2024-SANDHYA commented on #32
I saw that one first. Anyways fine you too can work on this and whosoever will make the PR first, I'll merge that.

[2021-12-03 10:13] 2024-SANDHYA commented on #34
The issue is still there before arriving at any conclusion please check #32  @leesha19

[2021-12-03 11:16] davyj123 commented on #32
Could you assign this task to me.

[2021-12-03 11:40] phenyloder commented on #34
Ma'am, I've made the PR. Hence it's my request to kindly review it and do tell if you find something missing. I would definitely try to improve it.

Thank You.

[2021-12-03 12:58] Jashwanth-k opened #39 "Implementing smooth scroll behaviour"
when we click the About Us, Volunteer on navigation, it is directly jumping to the section
i will add a smooth scroll behaviour to website
**preview**

https://user-images.githubusercontent.com/89581005/144605516-f2fde3ce-120a-455e-9247-bb0f0c4b70a1.mp4

and i will make the about section resposive for below 800px

![Screenshot (37)](https://user-images.githubusercontent.com/89581005/144606193-0876

[2021-12-03 13:09] AmanRana10 opened #40 "Positioning the nav bar"
The position of the navbar is right now very close to the top of the screen . i can position the navbar to have a little space from the top.
![BLOOD BUDDY - Google Chrome 03-12-2021 18_34_17 (3)](https://user-images.githubusercontent.com/79199262/144607750-d7b1b3ac-a9e4-499c-819b-3f97b1a5a926.png)

[2021-12-03 13:40] MukadamSuha commented on #1
Please assign me this issue, would like to work on it.

[2021-12-03 16:10] davyj123 commented on #29
Could you please assign this task to me

[2021-12-03 16:13] davyj123 commented on #39
I have already done it. Assign me so that I can send a pr

[2021-12-04 06:59] TMahato commented on #40
I think the font is also not okay.
I will change the font and position the navbar with some space from the top and will move it a little towards the left.

Please assign this to me.

[2021-12-04 07:43] Jashwanth-k commented on #39
mee too, but they are no longer accepting PRs

[2021-12-04 09:13] PSoni8 opened #42 "Donate page toggle button is not responsive."

[2021-12-04 10:21] rushikeshadhav opened #43 "Connect with us bg color"
![formm](https://user-images.githubusercontent.com/74168885/144705998-c7f3f4c5-78e8-413e-885f-0203789ea24a.png)
Background color of form can be improved

[2021-12-06 18:17] geetika005 opened #47 "register buttons hover"
will add a hover effect to the buttons of register form
please assign it to me

[2021-12-06 18:18] geetika005 commented on #47
/assign

[2021-12-07 04:13] leesha19 commented on #7
what changes you would like as do in about us page

[2021-12-07 07:52] anmol20112000 opened #49 "Create a "login form" for blood doners"
I will create a login form for blood doners  so that they can register on the website.plzzz assign this work to me. Suggest some ideas on this..@2024-SANDHYA

[2021-12-07 07:56] 2024-SANDHYA commented on #49
Already informed you not to create issues, it'll be done by mentors ONLY. Drop your idea in discord channel of the project

[2021-12-07 07:56] #49 closed

[2021-12-07 09:53] pritmanvar commented on #31
@2024-SANDHYA I had done my work and created a PR.
Kindly check that and if there are any changes then inform me.

[2021-12-07 10:39] ayushi-2002 commented on #43
I can do this, please assign it to me

[2021-12-07 10:39] ayushi-2002 commented on #42
can you please assign it to me!

[2021-12-07 11:13] 2024-SANDHYA commented on #42
Can I know which button you are talking bout ? @PSoni8

[2021-12-07 11:14] 2024-SANDHYA commented on #43
Please mention what are you planning to do. @rushikeshadhav

[2021-12-08 06:17] #32 closed

[2021-12-08 06:23] leesha19 commented on #43
hey , the input area which is grey in color which can be replaced with blue color as it is going to match the theme ....i can do it please assign me

[2021-12-08 07:00] leesha19 commented on #43
![image](https://user-images.githubusercontent.com/88451246/145163050-947f3bfe-37be-456d-ae2b-22062b28b32b.png)

i had made changes according to theme and its looking better now please assign so that i can create a PR

[2021-12-08 08:17] 2024-SANDHYA commented on #43
This issue was never assigned to you, how come you can create a PR ?

[2021-12-08 08:21] leesha19 commented on #43
on discord mentor said that who will first create a PR that will be merged i was just trying to explain you the  changes rest is in your hand

[2021-12-08 08:23] 2024-SANDHYA commented on #43
For creating a PR issue should be assigned to you and it'll be done on FCFS basis. @leesha19

[2021-12-08 08:24] leesha19 commented on #43
ok so if you liked the changes please assign me so that i can create a PR after that

[2021-12-09 13:51] amitrakshar01 opened #55 "A newsletter section"

[2021-12-10 09:01] Sheetal575 commented on #39
i completed this. can i make a pr?

[2021-12-10 10:30] Jashwanth-k commented on #39
check the PR's its already done
https://sushantpatial.github.io/Blood-Buddy/

[2021-12-11 14:34] davyj123 commented on #39
Could you please assign this issue.

[2021-12-11 14:58] 2024-SANDHYA commented on #39
@Jashwanth-k  Are you willing to work on this ?

[2021-12-11 15:01] davyj123 commented on #39
@2024-SANDHYA  mam I have already done it

[2021-12-11 15:37] Jashwanth-k commented on #39
yes i was willing to work

[2021-12-12 13:34] Pushti-R commented on #5
can I work on this issue?

[2021-12-12 13:35] 2024-SANDHYA commented on #5
@prachigarg19  are u still working on this? If not I'll assign it to someone else.

[2021-12-12 13:51] Pushti-R commented on #43
can i work here?

[2021-12-12 13:51] Pushti-R commented on #29
can I contribute here?

[2021-12-12 14:07] 2024-SANDHYA commented on #29
@Pushti-R  You are commenting on every single assigned issue, it won't fetch you anything as it's already assigned to someone else.So don't do this

[2021-12-12 15:00] Pushti-R commented on #29
ok @2024-SANDHYA
I am sorry

[2021-12-12 18:16] skpandey885 opened #56 "Minor CSS Fixes"
There are a lot of small CSS aspects like font style, better margin, padding which are required in this website.
<h3> A better css improvements will give the website a new look </h3>

<img width="1439" alt="Screenshot 2021-12-12 at 11 25 21 PM" src="https://user-images.githubusercontent.com/78532081/145723734-9bc44078-e0b1-4e03-849c-189762aaa305.png">

[2021-12-12 18:17] Yash-RajSingh commented on #56
I have noticed the same. Can I work on this?

[2021-12-13 09:41] tiasaxena commented on #1
![footer](https://user-images.githubusercontent.com/89907755/145788058-32010f6e-0c36-4b96-8ce8-eeb3e568f899.png)

Hey! I want to redesign the footer. I can make a responsive one while making sure the important stuff must be eye-catchy enough. Can I be assigned this😇? I'll be happy to contribute!

[2021-12-13 09:42] tiasaxena commented on #1
@2024-SANDHYA

[2021-12-13 10:20] skpandey885 commented on #56
Hey, @2024-SANDHYA can you put the SWOC and other labels.
I am working on this issue under SWoC'21.

[2021-12-13 12:37] 2024-SANDHYA commented on #1
@Starkl7  More than 12 days no update? Please let me know in next 24 hrs or I'll have to assign it to someone else.

[2021-12-13 12:45] leesha19 opened #57 "get help page styling"
hey there i would like to do some changes on get help page as the background color of place holder is default which is grey ,and the send button is also not properly styled i want to change it according to theme color which is blue
![image](https://user-images.githubusercontent.com/88451246/145814937-7431935f-9d6c-4232-83f6-1bd725f90a7c.png)

[2021-12-13 12:47] 2024-SANDHYA commented on #57
@leesha19  Issue already exists #5  If the assigned person didn't respond in 24hrs, I'll assign it to you.

[2021-12-13 12:55] leesha19 commented on #57
ok

[2021-12-13 16:37] 2024-SANDHYA commented on #1
Are you willing to work on thiS?  The one who'll respond first, I'll assign to him/her @MukadamSuha @prachigarg19 @SriSatyaT @davyj123

[2021-12-13 16:38] Yash-RajSingh commented on #1
I can work on this if it's ok

[2021-12-13 16:39] MukadamSuha commented on #1
I will work on it.

[2021-12-13 16:51] davyj123 commented on #1
I am ready to work with collaboration also.

[2021-12-13 18:02] bhavyastar opened #59 "Adding box Shadow under About us Section."
Under the About us Section, On hover with the transition effect I want to add Box Shadow it will more enhance the looks of cards.
Will you Assign this to me?

[2021-12-13 19:18] Sreemoyee26 opened #60 "Home Page mobile view UI fixes"

[2021-12-14 03:56] Ritika122001 opened #61 "Section for important points to follow before blood donation."
Creation of page for tips and important points to follow before blood donation.

[2021-12-14 07:12] 2024-SANDHYA commented on #60
Issue already exists, please check before opening one #2

[2021-12-14 07:12] #60 closed

[2021-12-14 07:25] Jashwanth-k commented on #39
@2024-SANDHYA can you please assign it to me.

[2021-12-14 09:26] bhavyastar commented on #59
Thank you so much for assigning this issue to me.

[2021-12-14 09:55] Onnati opened #62 "Modified typography and spacing in home page"
Modified typography and spacing as the good website should contain minimum fonts.

![Screenshot (559)](https://user-images.githubusercontent.com/86183294/145978777-441e2c87-af5b-465c-8ba0-9f5f90cfd968.png)
![Screenshot (560)](https://user-images.githubusercontent.com/86183294/145978826-9c6e776f-2229-4318-9570-2b71c0e55756.png)

[2021-12-14 15:51] bhavyastar commented on #59
Ma'am, I made Pr. But due to Misconception of Linking U close my pr.

[2021-12-15 03:40] leesha19 commented on #57
hey as 24 hrs completed can i work on this now

[2021-12-15 04:09] #57 closed

[2021-12-15 04:10] 2024-SANDHYA commented on #5
@leesha19 You can start working on this issue, now

[2021-12-15 06:05] ayushi-2002 commented on #5
can i also work on this issue? I have sound knowledge of html, css and js.

[2021-12-15 06:43] leesha19 commented on #5
Ok started👍

On Wed, Dec 15, 2021, 11:35 AM ayushi-2002 ***@***.***> wrote:

[2021-12-15 09:42] 7ORP3DO opened #68 "Donate page is not responsive"
Hey [Danate Page](https://2024-sandhya.github.io/Blood-Buddy/donate.html) is not reponsive.

### On Mobile (425 x 760px) :
![2024-sandhya github io_Blood-Buddy_donate html (1)](https://user-images.githubusercontent.com/80192140/146161659-dfb9b609-c898-4416-8703-9729321c6da5.png)

### On Tablet (768x 1024px) :
![2024-sandhya github io_Blood-Buddy_donate html (2)](https://user-images.githubuserconte

[2021-12-15 09:48] 2024-SANDHYA commented on #68
The issue already exists #2

[2021-12-15 09:48] #68 closed

[2021-12-15 09:59] 7ORP3DO commented on #2
_Hey @2024-SANDHYA can i work on this issue?_

[2021-12-15 10:42] 4bhishek10 commented on #47
can I add hover effect to buttons?

[2021-12-15 10:48] geetika005 commented on #47
I have already added it and added made a pr for it

[2021-12-15 10:50] 4bhishek10 commented on #62
I would like to work on this issue can you pls elaborate.

[2021-12-15 10:50] 2024-SANDHYA commented on #47
Stop commenting on each and every issue, which is already assigned. @4bhishek10  It's on FCFS basis

[2021-12-15 12:20] Sanjanabharadwaj25 opened #70 "Review Section"
It contains the user reviews. It can also have the option for a user to leave a review.

[2021-12-16 06:52] Ritika122001 commented on #61
Should I create a separate page for this or include the separate section before the volunteer section?  The link will be attached in the navbar.

[2021-12-16 07:23] 2024-SANDHYA commented on #61
Don't attach any link in the navbar, you can create a section at the bottom before the footer. @Ritika122001

[2021-12-16 07:36] Ritika122001 commented on #61
Ok, sure

[2021-12-16 13:11] pritmanvar commented on #31
@2024-SANDHYA i had again created a pr can you please review that

[2021-12-17 12:18] #34 closed

[2021-12-17 14:53] isyneha opened #73 "I want to work on the responsiveness of the donate page for a mobile or tablet view. Kindly assisgn me this issue."

[2021-12-18 10:15] thepranaygupta opened #74 "improve Donate Page CSS"
Add padding and margin to the donate page box, steps and text-box.

## Before:
https://user-images.githubusercontent.com/64855541/146637357-9b8074c9-c236-4025-a7b5-f667d9d40f09.mp4

## After:
https://user-images.githubusercontent.com/64855541/146637366-d4c3e813-79bc-40ed-9ce5-816d891b6a53.mp4

[2021-12-18 11:02] prath-10 commented on #74
Can you assign me this task?

[2021-12-18 11:06] prath-10 commented on #74
Can you assign me this task?

[2021-12-18 11:22] 4bhishek10 commented on #74
can you pls clearify

[2021-12-19 09:17] 2024-SANDHYA opened #76 "Scroll Effects"
You can add a scroll effect on the navbar. Currently when you scroll navbar remains static. You can make it dynamic but adding bg change on a scroll or any other scroll effect.

[2021-12-19 11:24] maheshtamarakar commented on #76
is it ok if I make the logo small and in scroll effect change the background color and make the navbar sticky?

[2021-12-19 17:08] Jashwanth-k commented on #76
can you assign it to me i was willing to work

[2021-12-20 10:46] 2024-SANDHYA commented on #1
What's the working status @MukadamSuha

[2021-12-20 10:47] #2 closed

[2021-12-20 10:48] 2024-SANDHYA opened #77 "Responsive Website"
Make the whole website responsive.

[2021-12-20 12:18] MukadamSuha commented on #1
Almost Done will PR it now

[2021-12-20 13:59] ZaidKhan2002 commented on #77
I would like to work on this issue

[2021-12-20 14:18] melaniedrevet commented on #77
I have already started working on it, I totally skipped commenting ...

[2021-12-20 14:20] melaniedrevet commented on #77
I am working on the "donate" page if someone wants to make another page

[2021-12-20 14:20] melaniedrevet commented on #77
I am working on the "donate" page if someone wants to make another page

[2021-12-20 14:21] 2024-SANDHYA commented on #77
Go ahead @ZaidKhan2002

[2021-12-20 14:23] 2024-SANDHYA commented on #77
@melaniedrevet  This is not how it works, you need to open an issue and wait till someone assigns you that. Then start working. I'll not be merging the PRs this way at all !!

[2021-12-20 14:30] melaniedrevet commented on #77
@2024-SANDHYA  Sorry I just started answering some issues, some work like this .. But no problem, I understand.

[2021-12-21 07:20] jay-2000 opened #79 "scroll to top button"
hey @2024-SANDHYA can i work on this issue under SWOC

[2021-12-22 14:19] SinaElahimanesh commented on #40
Hello.
I have seen your issue Issue #40.
So that I have added some pieces of Style code to your index.html file, inline. and I added padding to the right and top of the navbar which has fixed its problem and now it is more visible because it is not exactly in the corner of the page.
So please accept my Pull Request! :)

Thanks,
Sina

[2021-12-22 14:59] arushisinha09 opened #85 "Add a column to the footer"
Align the contents of footer  .

[2021-12-22 15:00] arushisinha09 commented on #85
Can I work on this issue? @2024-SANDHYA

[2021-12-22 15:17] #47 closed

[2021-12-22 15:21] #1 closed

[2021-12-23 05:21] vansh-sharma59 opened #87 "Improving navbars"
The navbars are not looking good..can you assign this to me?

[2021-12-23 06:23] #74 closed

[2021-12-23 18:57] Rishi-121 opened #90 "Breaking UI issue in mobile devices"
UI is breaking into the mobile device.

![Screenshot (75)](https://user-images.githubusercontent.com/62418363/147281628-9b92b861-e219-4020-9e94-c6bc25aeb69e.png)
![Screenshot (76)](https://user-images.githubusercontent.com/62418363/147281642-430537eb-175c-4f18-87d8-8b92dd8870a8.png)
![Screenshot (77)](https://user-images.githubusercontent.com/62418363/147281650-b3f3a4a9-09bb-4d7f-8884-428c8670f4d6

[2021-12-23 18:59] Rishi-121 commented on #90
@2024-SANDHYA  I would like to work on this issue. Assign this to me.

[2021-12-24 02:26] 2024-SANDHYA opened #91 "Resize the logo"
Currently logo is this huge,

![image](https://user-images.githubusercontent.com/75671152/147308234-bb916f01-1793-451d-8941-ac5e945322f1.png)

Change the size and add a hover effect on the logo.

[2021-12-24 03:08] greyjedi7 commented on #91
Hi Sandhya,

Can you assign this issue to me?

[2021-12-24 03:35] 2024-SANDHYA commented on #91
Sure @greyjedi7

[2021-12-24 03:38] greyjedi7 commented on #91
Great. Thanks :)

[2021-12-24 05:07] greyjedi7 commented on #91
@2024-SANDHYA , I've made the changes. Kindly review it. If you need changes in the color or hover effect, let me know

[2021-12-24 05:20] ZaidKhan2002 commented on #77
<img width="770" alt="Screenshot 2021-12-24 at 10 46 25 AM" src="https://user-images.githubusercontent.com/71960989/147319600-9c69ebdc-ba9e-47e4-a56b-32a4b9c0fb19.png">
<img width="770" alt="Screenshot 2021-12-24 at 10 46 07 AM" src="https://user-images.githubusercontent.com/71960989/147319612-183d869e-fa5c-4afd-8f81-d41255e584d4.png">

<img width="770" alt="Screenshot 2021-12-24 at 10 46 16 AM" s

[2021-12-24 08:12] 2024-SANDHYA commented on #77
No don't do that @ZaidKhan2002

[2021-12-24 11:49] ZaidKhan2002 commented on #77
@2024-SANDHYA Made my PR also I got an error while making PR like someone repeated the whole index.css twice so deleted that also.

[2021-12-24 14:08] #79 closed

[2021-12-25 08:14] skpandey885 opened #94 "Improvements in Footer"
The Footer of every page should follow the same style and indentation. But it is lacking.
Instances:
Image 1 - Footer of Home page
Image 2 - Footer of Donate Page
<img width="1436" alt="Screenshot 2021-12-25 at 1 41 55 PM" src="https://user-images.githubusercontent.com/78532081/147380638-4bb75f21-8c43-43a9-bf09-0539d590169f.png">
<img width="1436" alt="Screenshot 2021-12-25 at 1 43 24 PM" src="htt

[2021-12-25 08:15] skpandey885 commented on #94
@2024-SANDHYA Assign me this issue.

[2021-12-25 11:42] 2024-SANDHYA commented on #37
Any update on this? @aditi944  If not I'll assign it to someone else.

[2021-12-25 20:07] keshav2508 opened #97 "Improvement in registration Page"
I would like to work on the registration page and make it more appealing please assign me this under SWOC21 .

[2021-12-26 10:31] 2024-SANDHYA commented on #97
What you want to change in registration  page ? @keshav2508

[2021-12-26 10:54] keshav2508 commented on #97
registration page must gather all the valid info , like you are a doner or the help seeker and i would also like to work on the backend to store the information ( list of registered candidates ) using mysql and show the list in tab named Buddies.

[2021-12-26 10:57] 2024-SANDHYA commented on #97
Okay, go ahead. ! @keshav2508

[2021-12-26 11:32] keshav2508 commented on #97
Can i use javascript Express for this??

[2021-12-26 11:32] keshav2508 commented on #97
And Ejs?

[2021-12-26 16:37] keshav2508 commented on #97
for storing data, I have to change this to express javascript and ejs would you like me to try that? Or if you have something in mind please do tell .

[2021-12-27 07:09] #91 closed

[2021-12-28 02:46] tiasaxena commented on #70
hey @2024-SANDHYA, is the issue still open? I will add the review section to the home page while maintaining the beauty and liveliness of the site. Please assign the task to me if that works. Will be happy to help :)

Also, mention the deadline for the issue, in case I am assigned for the same.

[2021-12-28 07:08] 2024-SANDHYA commented on #70
@Sanjanabharadwaj25  Please give me an update on this issue, it's already been almost 2 weeks. If you don't want to work on this anymore or don't respond within 24hrs, I'll be assigning  this to @tiasaxena

[2021-12-28 15:50] Sanjanabharadwaj25 commented on #70
I am working on the issue. I think I will be done with it in a couple of days.

[2021-12-29 05:31] Shlok1999 commented on #94
Is this issue still available? If yes, please assign this to me

[2021-12-30 11:12] Swati002 opened #101 "Improvement of Footer Responsiveness"

[2021-12-31 18:20] tiasaxena opened #104 "Add a pre-loader to the site"
Add a minimalistic pre-loader in sync with the site. I would really like to contribute to the same. Please assign me the issue, in case @2024-SANDHYA

[2021-12-31 18:23] #104 closed

[2022-01-03 16:54] taplinseth commented on #77
I would like to work on this issue.

[2022-01-04 11:22] 9Shalini commented on #43
can I work on this issue? @2024-SANDHYA

[2022-01-04 17:56] #101 closed

[2022-01-05 07:42] tiasaxena opened #108 "Linking different pages to the HomePage"
Each of the links when clicked opens up in a new tab and the client looses access to the first / landing page. Plus, lots of tabs pile up. I think limiting to one page will be better and at the same time providing the link to the home page on each of the different links, will be rather better. Please assign me the task, @2024-SANDHYA, if 😀

[2022-01-05 08:08] 2024-SANDHYA commented on #108
Every page has the link to the home page, I don't want to change the rest. @tiasaxena

[2022-01-05 08:08] #108 closed

[2022-01-06 03:45] SO1ee opened #110 "Modify Get Help page"
I will make the page responsive and i will fix the navbar and currently by going to the get help page we can not see the connect with us form properly to do so we have to scroll ,that thing i will fix. thank you for your time.

[2022-01-06 13:19] 2024-SANDHYA commented on #110
Solve this first then open other issues @SO1ee  #28

[2022-01-09 05:33] Kunal0220 commented on #85
Hey @arushisinha09 , you still working on this issue ? If so then can I help ?
If not , @2024-SANDHYA can you assign me this issue ? I Think I can resolve it .

[2022-01-09 07:02] 2024-SANDHYA commented on #85
Already been 18days, @arushisinha09  Unassigning you to this issue. @Kunal0220  You may start working on this and create PR within 7 days.

[2022-01-09 09:01] arushisinha09 commented on #85
Hey ? I have created a pr and it wasn’t reviewed by anyone .. can you look into it ?  Sent from Mail for Windows From: Kunal SrivastavaSent: 09 January 2022 11:03To: 2024-SANDHYA/Blood-BuddyCc: Arushi Sinha; MentionSubject: Re: [2024-SANDHYA/Blood-Buddy] Add a column to the footer (Issue #85) Hey @arushisinha09 , you still working on this issue ? If so then can I help ?If not , @2024-SANDHYA can y

[2022-01-09 10:49] 2024-SANDHYA commented on #85
Mention the PR here @arushisinha09

[2022-01-09 11:24] astha2412 opened #112 "Want to improve footer section"
Plz Assign @2024-SANDHYA

[2022-01-09 11:25] 2024-SANDHYA commented on #112
How are you thinking to improve the footer? @astha2412

[2022-01-09 11:48] astha2412 commented on #112
I will add some content on the left-most side related to blood donation...In the center, I will add Some volunteer's name and their page links....... In the rightmost part, I will add the contact us section which will contain address, name, phone no, or maybe some links i.e Facebook, Instagram, or the link that u have already added. In the top left most I will try to add some logos related to bloo

[2022-01-09 12:13] 2024-SANDHYA commented on #112
I am not sure about this, but you can try @astha2412

[2022-01-09 12:22] astha2412 commented on #112
Ok, Thankyou @2024-SANDHYA ........... Can you plz suggest what more can be added to the footer page of the blood donation website???

[2022-01-10 04:30] arushisinha09 commented on #85
It was #107 …I had just changed the footer of index page , if it would’ve been fine , I would’ve made changes in all the pages …I’ll just attach the link here . https://github.com/2024-SANDHYA/Blood-Buddy/pull/107please let me know if I have to make some changes .From: Sandhya AgarwalSent: 09 January 2022 16:19To: 2024-SANDHYA/Blood-BuddyCc: Arushi Sinha; MentionSubject: Re: [2024-SANDHYA/Blood-Bu

[2022-01-10 06:39] 2024-SANDHYA commented on #85
I don't know what you've written, it's hardly readable @arushisinha09

![image](https://user-images.githubusercontent.com/75671152/148726741-858e5a07-850a-45ee-add5-6e271b49b1a9.png)

[2022-01-10 14:44] Kunal0220 commented on #85
Hey @arushisinha09 , Just try to convert your changes into a  PR so that the changes would become easily readable, Ping here in case of any difficulties !

[2022-01-10 17:31] arushisinha09 commented on #85
Hey , thanks …ya I guess I’m a bit confused about that part …I’ll try this again , thanks so much.  From: Kunal SrivastavaSent: 10 January 2022 20:14To: 2024-SANDHYA/Blood-BuddyCc: Arushi Sinha; MentionSubject: Re: [2024-SANDHYA/Blood-Buddy] Add a column to the footer (Issue #85) Hey @arushisinha09 , Just try to convert your changes into a PR so that the changes would become easily readable, Ping

[2022-01-11 05:03] #70 closed

[2022-01-11 05:44] davyj123 opened #114 "All about section"
I can make the problem we solve responsive for mobile widths.
@2024-SANDHYA please assign this to me.
![Screenshot (203)](https://user-images.githubusercontent.com/89240845/148887763-17eb7c40-edf0-453c-9c06-0fb342247824.png)

[2022-01-11 06:35] Kunal0220 commented on #85
@arushisinha09 If you solve this issue by today , then its all good , otherwise I'll take this up from here :)

[2022-01-11 07:07] 2024-SANDHYA commented on #114
Go ahead, create a PR within 7 days., or I'll unassign you the issue

[2022-01-11 17:10] Sanjanabharadwaj25 opened #115 "Create a pre-loader for the website"
I would like to work on this.

[2022-01-12 13:13] #76 closed

[2022-01-12 14:09] Kunal0220 commented on #85
@arushisinha09 M taking this from here !

[2022-01-12 14:41] 2024-SANDHYA commented on #85
@Kunal0220  Open up the same new issues, I am closing this one.

[2022-01-12 14:48] Kunal0220 opened #116 "Social icons in the footer are not properly aligned"
<img width="808" alt="Screenshot 2022-01-12 at 8 16 51 PM" src="https://user-images.githubusercontent.com/71934168/149162631-d88c8e8d-ec30-49be-8b0e-38f32de76def.png">

This needs to be aligned propery!

[2022-01-12 14:49] Kunal0220 commented on #116
Hey @2024-SANDHYA ,can you please assign me this issue so that I can make a PR for it !

[2022-01-12 14:59] Kunal0220 commented on #116
@2024-SANDHYA Please review this change and give feedbacks if any :)

[2022-01-12 15:03] Kunal0220 commented on #110
Hey @2024-SANDHYA  , with @SO1ee and your consent , Can I work on this issue ?

[2022-01-12 15:10] 2024-SANDHYA commented on #110
Only one person will work on one issue @Kunal0220
@SO1ee You have 4 more days to create a PR

[2022-01-12 15:33] Kunal0220 opened #118 "Sliding Animation Feature On Scroll"
<img width="1298" alt="Screenshot 2022-01-12 at 9 00 04 PM" src="https://user-images.githubusercontent.com/71934168/149170774-d0989f1d-0bce-465d-ab88-86a411ee8b6b.png">

Sliding animation on these cards on scrolling the page can make the page more attractive !

[2022-01-12 16:08] #116 closed

[2022-01-13 05:17] SO1ee commented on #7
@2024-SANDHYA ,I have made a PR regarding this issue please check.

[2022-01-13 05:37] Kunal0220 opened #121 "Updating Document : Correction of Spelling Mistakes in the ReadMe"
There is a spelling mistake in the Readme ( Point number 6 I guess) , We should resolve it ASAP .

[2022-01-13 05:40] SupriyaKumari08 commented on #121
Hey @Kunal0220 , can I work on this issue?

[2022-01-13 05:45] Kunal0220 commented on #121
Hey @SupriyaKumari08 , I don't have the permission to assign it to you , @2024-SANDHYA can you please assign this to her ?

[2022-01-13 08:55] SO1ee commented on #110
@2024-SANDHYA ,Made a PR on this issue please check.
issues it resolve- now this page is completely responsive including navigation bar and i have modified the design a little. Thank you for your time!

[2022-01-13 09:55] 2024-SANDHYA commented on #110
Just create the PR I'll check no need to mention everytime @SO1ee

[2022-01-13 10:30] 2024-SANDHYA commented on #121
Only code contributions are being counted not Readme. @Kunal0220

[2022-01-13 10:30] #121 closed

[2022-01-13 11:05] arushisinha09 commented on #85
Ya sure , I’m sorry I wasn’t able to reply . I tested positive yesterday . All the best .  Sent from Mail for Windows From: Kunal SrivastavaSent: 12 January 2022 19:39To: 2024-SANDHYA/Blood-BuddyCc: Arushi Sinha; MentionSubject: Re: [2024-SANDHYA/Blood-Buddy] Add a column to the footer (Issue ***@***.*** M taking this from here !—Reply to this email directly, view it on GitHub, or unsubscribe.Tria

[2022-01-16 15:50] impranavtg opened #123 "Enhancement of the About Us Section"
I want to modify the About us Section using CSS grid and make it responsive for all devices. Also, I want to add a greyish color to the background of about us cards so that the box-shadow would look more attractive and the card would appear to be floating on the background. for your reference, I am adding a photo of my project.
Will you Assign this to me
![screenshot-impranavtg github io-2022 01 1

[2022-01-16 15:54] 2024-SANDHYA commented on #123
Issue already exists @impranavtg   #7

[2022-01-16 15:54] #123 closed

[2022-01-16 16:00] impranavtg commented on #123
Could you suggest an issue on which I could contribute?
It would be really appreciated.
Regards

[2022-01-16 16:27] 2024-SANDHYA commented on #123
Issues with the tag "up for grab" select those @impranavtg

[2022-01-17 06:35] SupriyaKumari08 opened #125 "Height of cards under About Us section not consistent"
Innovate card's height isn't consistent with adjacent cards, hence hindering the UI of the page. I can fix this issue. @2024-SANDHYA Can you assign this to me?
<img width="811" alt="Blood-buddy" src="https://user-images.githubusercontent.com/84588360/149719415-892d6b8d-1bd4-44ad-8682-2f6e09125fba.PNG">

[2022-01-17 06:53] ZaidKhan2002 commented on #77
@2024-SANDHYA please assign this to @taplinseth

[2022-01-17 07:00] 2024-SANDHYA commented on #125
Create the PR within 10 days, @SupriyaKumari08

[2022-01-17 07:02] 2024-SANDHYA commented on #77
Create the PR within the next 10 days @taplinseth. Assigning it to you.

[2022-01-17 14:06] impranavtg commented on #123
There is no issue having this tag.

[2022-01-17 14:08] 2024-SANDHYA commented on #123
Then all are assigned, create an issue you want to work on then. @impranavtg

[2022-01-23 04:30] pritmanvar commented on #42
Hello @2024-SANDHYA ,
There are some other sections too which are not responsive in mobile phone. can i fix that?

1. Out Supper Heroes
![image](https://user-images.githubusercontent.com/77919675/150664821-af59c125-0b10-43c9-b1b4-6951e189e1ea.png)

2.  Join Out Cause
![image](https://user-images.githubusercontent.com/77919675/150664842-f217e8f9-7828-4a9f-a315-3c9a9a9e5991.png)

[2022-01-23 09:11] 2024-SANDHYA commented on #42
This is not the issue which'll resolve what you are talking about @pritmanvar

[2022-01-23 09:19] pritmanvar commented on #42
I mean text of our super heros is overlapping with table and text of join our cause is also not aligned.

So can I fix that?

[2022-01-23 09:56] 2024-SANDHYA commented on #42
@pritmanvar I know what you are talking about, but see the heading of this issue and what you are talking about. Two completely different things.

[2022-01-23 10:11] pritmanvar commented on #42
Ohh sorry I thought both are regarding responsiveness so but no problem I will rise another issue.
Sorry for trouble

[2022-01-23 14:11] radzhiv25 commented on #37
If no one is doing this so can it be assigned to me

[2022-01-27 17:09] #125 closed

[2022-01-27 20:24] Aditidubey223 commented on #18
I would like to work on this issue under SWOC. Kindly please assign this to me @2024-SANDHYA

[2022-01-28 06:12] 2024-SANDHYA commented on #18
Create a PR within 5 working days @Aditidubey223. Assigning it to you.

[2022-01-29 17:03] #115 closed

[2022-01-29 17:04] 2024-SANDHYA opened #130 "Volunteer page alignment"
Align all the points properly. Right now it is like :

![image](https://user-images.githubusercontent.com/75671152/151670050-3d4df1b8-a6b5-4769-ab08-609144bc3af5.png)

[2022-01-29 18:52] YarinLevi5 commented on #130
Do you mean align the icons? that they will be on the right side?

[2022-02-03 15:05] impranavtg commented on #130
Hey, @2024-SANDHYA I can work on this issue. Provide me with some more details about your requirements plus I want to fix the button link on this page. Because if the user is clicking on any button on this page. The home page loads up. Instead of a specific section of that page. I mean if the user is clicking on the about us button then it should redirect to the about us section on the home page.

[2022-02-04 05:10] 2024-SANDHYA commented on #130
@impranavtg  @YarinLevi5  All the information is provided clearly, alignment needs to be fixed towards the left as can be seen in the image provided.

[2022-02-04 05:35] MThabsheer7 commented on #130
Hey, @2024-SANDHYA , is the issue under work? or I can work on it.

[2022-02-04 05:38] impranavtg commented on #130
Okay I understood. Can you assign this issue to me. So that I could start working on it.
Regards

[2022-02-04 05:41] 2024-SANDHYA commented on #130
Okay @impranavtg make sure to create a PR within next 5 days, or I have to unassign you this issue.

[2022-02-04 05:45] impranavtg commented on #130
Okay I'll make sure that.

[2022-02-06 13:04] #130 closed

[2022-02-12 13:59] abhinav2712 opened #133 "Footer UI needs to be improved"
With respect to the whole website , footer looks a bit odd, I can improve it by coding a better design,
Mentors, please assign me with this task, I would surely make the footer look up to the mark

[2022-02-12 16:18] 2024-SANDHYA commented on #133
Assigning it to you, make sure to create the PR within the next 5days, or I'll have to close this issue. @abhinav2712

[2022-02-22 14:42] DPR-4 opened #135 "we can add colourfull heading"
Add colorful heading to the "what is all about this" and "Our super heroes" and also provide some cool effects

## Thank you for your contribution to Bloody-Buddy 🤩🤩

[![GitHub license](https://img.shields.io/badge/license-MIT-blue.svg)](LICENSE) ![Open Source Love](https://badges.frapsoft.com/os/v2/open-source.svg?v=103)  ![PRs Welcome](https://img.shields.io/badge/PRs-welcome-green.svg)

**Pleas

[2022-02-22 14:48] 2024-SANDHYA commented on #135
Under issue, you cannot create a PR. @DPR-4

[2022-02-22 14:51] DPR-4 commented on #135
sorry by mistake it happened

[2022-02-22 14:52] #135 closed

[2022-02-22 19:02] Shlok1999 commented on #77
I would like to work on this issue to make the navbar responsive of other pages as well

[2022-03-01 16:15] #25 closed

[2022-03-02 15:09] #118 closed